In [5]:
import pandas as pd
# import with the name of the columns
data=pd.read_csv('stoxx600_data.csv', sep=',', header=0)
data1=data.iloc[:,1:21]
data1

,3I GROUP,A P MOLLER MAERSK B,A2A,AAK,AALBERTS,ABB LTD N,ABN AMRO BANK,ABRDN,ACCIO,ACCOR,ACKERMANS & VAN HAAREN,ACS ACTIV.CONSTR.Y SERV.,ADDLIFE B,ADDTECH B,ADECCO GROUP,ADEVINTA,ADIDAS (XET),ADMIRAL GROUP,ADP,ADYEN
0,704.0,9825.19,1.2300,99.92,30.820,21.48,21.050,369.24,69.93,35.430,132.10,22.4996,32.78,35.62,65.825,NaN,150.15,1827.0,101.80,NaN
1,704.0,10165.19,1.2620,101.08,31.130,21.48,21.275,369.24,70.72,35.715,131.65,22.9643,32.48,36.25,65.825,NaN,151.30,1827.0,102.05,NaN
2,712.0,10252.37,1.2610,99.75,31.005,21.73,21.950,375.99,70.54,36.585,132.80,23.0168,32.48,35.94,66.714,NaN,149.25,1841.0,102.00,NaN
3,717.0,10121.60,1.2690,100.17,30.965,21.76,22.125,375.50,70.20,37.415,132.45,22.6795,32.60,35.75,68.590,NaN,146.40,1829.0,100.90,NaN
4,722.5,10391.85,1.2650,99.92,31.035,21.77,22.125,360.51,70.00,37.990,130.95,22.6533,32.18,34.94,68.590,NaN,144.30,1828.0,101.95,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1343,1313.0,21890.00,1.5360,174.70,51.860,30.65,12.514,222.70,134.10,32.060,165.70,22.0200,200.20,149.00,45.820,77.00,217.90,3010.0,128.50,1782.6
1344,1245.5,20900.00,1.5045,172.00,49.140,29.96,11.954,202.80,140.00,30.270,160.30,21.1500,199.20,149.00,43.330,80.44,210.15,2871.0,125.15,1804.6
1345,1307.0,21490.00,1.5740,173.75,50.860,30.92,12.124,208.90,147.10,31.340,167.20,21.8400,210.00,153.00,44.660,85.96,213.85,2960.0,127.15,1812.4
1346,1335.5,21020.00,1.5970,172.95,49.710,31.15,11.862,206.70,153.10,30.590,167.00,21.8200,217.20,157.00,43.540,94.46,212.05,2977.0,127.00,1864.4
1347,1296.0,20630.00,1.5415,169.65,46.950,30.59,10.926,195.75,147.50,28.510,163.70,21.4800,218.00,154.00,41.190,91.40,204.35,2951.0,120.85,1785.2

In [6]:
# drop the column with the na
data1.dropna(axis=1, how='any', inplace=True)
data1.shape

(1348, 18)

In [7]:
# dave data1 as csv
data1.to_csv('stoxx10.csv', sep=';', header=None, index=False)

In [32]:
# convert all the columns to numeric
data1=data1.apply(pd.to_numeric)

In [ ]:
# calcuala il rendimento in percetuale per ogni azione
data2= data1.pct_change()
data2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.042569,-0.003669,0.067142,0.051110,0.004492,0.027007,0.011913,0.008621,0.014493,0.032252,...,0.054963,-0.008727,0.034085,0.008475,0.045571,-0.007384,0.000000,-0.002853,0.019453,0.028554
2,0.019341,0.010315,0.020413,0.027608,0.001910,-0.001957,0.012909,0.007692,-0.026000,-0.014582,...,0.068429,0.001871,0.037525,-0.003361,0.065684,0.009564,0.000000,0.022877,0.044545,0.022644
3,-0.002811,0.002185,0.001645,0.026866,-0.026743,0.024399,0.005771,0.030534,0.005238,-0.014270,...,-0.038574,-0.016931,0.012708,-0.016863,-0.024770,-0.038947,-0.007962,0.067105,-0.024873,0.012140
4,-0.023961,-0.014548,-0.014148,0.005691,-0.013745,-0.004764,0.007491,-0.031276,-0.019843,-0.012871,...,0.011355,0.012115,-0.027992,-0.005146,0.007679,0.008762,-0.009310,0.020959,-0.021348,-0.043047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,-0.028474,0.004399,-0.029496,-0.017472,-0.197861,-0.007634,0.061776,-0.026439,-0.006231,-0.017584,...,-0.030422,-0.002257,-0.007305,0.003778,-0.016782,-0.014213,-0.006922,0.003737,-0.012608,0.012788
1393,-0.005275,0.001946,-0.011119,-0.001569,-0.003333,-0.007692,-0.022545,0.011182,-0.001567,-0.003768,...,0.017713,-0.008145,-0.022811,0.002688,0.004120,0.007724,-0.009651,-0.021593,-0.017558,0.005892
1394,-0.010018,0.006314,-0.005247,-0.003143,-0.016722,0.023256,0.003720,-0.000790,-0.008634,-0.010402,...,-0.023371,0.003650,-0.006777,-0.012332,0.009379,-0.003577,0.004331,-0.011416,-0.001625,-0.025105
1395,0.002976,0.004826,-0.030143,-0.011035,-0.037415,0.000000,-0.028910,-0.028458,0.000792,0.016245,...,0.003055,0.000000,-0.006823,0.004343,-0.001161,-0.012308,0.002156,-0.026944,-0.004882,0.007725
1396,0.007122,-0.004803,-0.005439,0.022848,0.085512,0.038636,0.008397,0.016273,-0.011867,0.014104,...,0.006091,0.011818,0.041985,-0.009189,0.004651,0.008827,-0.018827,0.046677,0.024530,0.011925

In [ ]:
data2

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.042569,-0.003669,0.067142,0.051110,0.004492,0.027007,0.011913,0.008621,0.014493,0.032252,...,0.054963,-0.008727,0.034085,0.008475,0.045571,-0.007384,0.000000,-0.002853,0.019453,0.028554
2,0.019341,0.010315,0.020413,0.027608,0.001910,-0.001957,0.012909,0.007692,-0.026000,-0.014582,...,0.068429,0.001871,0.037525,-0.003361,0.065684,0.009564,0.000000,0.022877,0.044545,0.022644
3,-0.002811,0.002185,0.001645,0.026866,-0.026743,0.024399,0.005771,0.030534,0.005238,-0.014270,...,-0.038574,-0.016931,0.012708,-0.016863,-0.024770,-0.038947,-0.007962,0.067105,-0.024873,0.012140
4,-0.023961,-0.014548,-0.014148,0.005691,-0.013745,-0.004764,0.007491,-0.031276,-0.019843,-0.012871,...,0.011355,0.012115,-0.027992,-0.005146,0.007679,0.008762,-0.009310,0.020959,-0.021348,-0.043047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,-0.028474,0.004399,-0.029496,-0.017472,-0.197861,-0.007634,0.061776,-0.026439,-0.006231,-0.017584,...,-0.030422,-0.002257,-0.007305,0.003778,-0.016782,-0.014213,-0.006922,0.003737,-0.012608,0.012788
1393,-0.005275,0.001946,-0.011119,-0.001569,-0.003333,-0.007692,-0.022545,0.011182,-0.001567,-0.003768,...,0.017713,-0.008145,-0.022811,0.002688,0.004120,0.007724,-0.009651,-0.021593,-0.017558,0.005892
1394,-0.010018,0.006314,-0.005247,-0.003143,-0.016722,0.023256,0.003720,-0.000790,-0.008634,-0.010402,...,-0.023371,0.003650,-0.006777,-0.012332,0.009379,-0.003577,0.004331,-0.011416,-0.001625,-0.025105
1395,0.002976,0.004826,-0.030143,-0.011035,-0.037415,0.000000,-0.028910,-0.028458,0.000792,0.016245,...,0.003055,0.000000,-0.006823,0.004343,-0.001161,-0.012308,0.002156,-0.026944,-0.004882,0.007725
1396,0.007122,-0.004803,-0.005439,0.022848,0.085512,0.038636,0.008397,0.016273,-0.011867,0.014104,...,0.006091,0.011818,0.041985,-0.009189,0.004651,0.008827,-0.018827,0.046677,0.024530,0.011925

In [ ]:
# 'Asset_1', 'Asset_2', 'Asset_3', 'Asset_4', 'Asset_5', 'Asset_6', 'Asset_7', 'Asset_8', 'Asset_9', 'Asset_10'